<div>
    <table>
    <tr>
        <td>User Name</td>
        <td><input #userNameTextBox type="text" id="username" [value]="userName"
             (input)="onUserNameEdit(userNameTextBox.value)"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input [(ngModel)]='password' type="password" id="password" /></td>
    </tr>
    <tr><td><button type="submit" (click)="login()">Login</button></td>
    <td><button type="reset" (click)="reset()">Reset</button></td></tr>
    </table>
    <output>{{status}}</output>
</div>
