<div>
    <form [formGroup]='form' (ngSubmit)='signUp()'>
        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" formControlName='name' />
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" formControlName='password' />
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" formControlName='email' />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Signup" />
                </td>
                <td>
                    <input type="button" value="Reset" (click)='reset()' />
                </td>
            </tr>
        </table>
    </form>
</div>