<div>
    <form #frmGrp='ngForm' (ngSubmit)='signUp(frmGrp)'>
        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="name" ngModel #nameControl='ngModel' required minlength="5" />
                </td>
                <td>
                    <div *ngIf='nameControl.invalid' >
                        Provide valid name.
                    </div>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" name="password" ngModel />
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" name="email" ngModel />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Signup" />
                </td>
                <td>
                    <input type="button" value="Reset" (click)='reset()' />
                </td>
            </tr>
        </table>
    </form>
    <output>{{nameControl.value}}</output>
</div>