<div>
    <h3>Serach Panel</h3>
    <table>
        <tr><td>
            <div>
                <!--<search-bar (onNewSearcKey)='onNewSearchKeyHandler($event)'></search-bar>-->
                <search-bar></search-bar>
            </div>
        </td></tr>
        <tr><td>
            <div>
                <!--<search-result [searchResults]="searchResults"></search-result>-->
                <search-result></search-result>
            </div>
        </td></tr>
    </table>
</div>