<div>
    <table>
        <thead>
            <tr>
                <td>Bug Id</td>
                <td>Bug Details</td>
                <td>TimeStamp</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bug of searchResults">
                <td>{{bug.bugId}}</td>
                <td>{{bug.description}}</td>
                <td>{{bug.timestamp}}</td>
                <td>{{bug.status}}</td>
            </tr>
        </tbody>
    </table>
</div>