<div>
    <table>
        <tr>
            <td>
                <span>Search Severity Level</span>
            </td>            
        </tr>
        <tr>
            <td>
                <select (change)="onSearchkeyChange($event)">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
            </td>
        </tr>
    </table>
</div>